<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895738682292-pi1e4eb69cmpp54m2if36uphc1bcjud8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895738682292-pi1e4eb69cmpp54m2if36uphc1bcjud8</string>
	<key>API_KEY</key>
	<string>AIzaSyDmqX6YyR6wkHnSxL_XnV-oIA4JRvlDS3k</string>
	<key>GCM_SENDER_ID</key>
	<string>895738682292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.quickounce</string>
	<key>PROJECT_ID</key>
	<string>quickounce-cfdce</string>
	<key>STORAGE_BUCKET</key>
	<string>quickounce-cfdce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895738682292:ios:67bc1b7382e902f1eb30e1</string>
</dict>
</plist>